.card-title {
    color: black;
    font-size: 30px;
    font-weight: 300;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
}
.margin-top {
    margin-top: 5%;
}
.shadow-box{
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}
.shadow-box:hover {
    background-color: rgba(204, 204, 204, 0.2);
}
.card-body {
    padding: 50px;
}
a:link {
    color: #109250;
    text-decoration: none;
  }
  a:visited {
    color: #109250;
  }
  a:hover {
    color: #109250;
  }
  a:active {
    color: black;
  }