.story-images {
    width: 500px;
    height: auto;
	padding: 2rem 0;
}

@media only screen and (max-width: 580px) {
    .examples {
        max-width:fit-content;
    }

    img {
		padding: 0;
        max-width: 85vw;
		margin: 0 auto;
    }
	
	.example-container {
		padding: 0;
	}
	
	.div-title {
		padding: 0 1rem;
	}
	
	imgcol {
		padding: 0;
	}
	
}
