.navColors {
    background-color: #109250;
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}
.navText navbar-brand {
    font-family: monospace;
    font-weight: bold;
    color: gold;
    font-variant-caps: small-caps;
    font-size: xx-large;
}
