.ctaText {
    text-align: center;
    /* height: 10%;
    width: 60%; */
    padding-top: 40px;
}

#calltoAction {
    margin: 0;
    align-items: center;
    justify-content: center;
}
.ctaBtn {
    margin-bottom: 40px;
}