.jumbotron {
    /* background-color: white; */
    /* height: 660px;*/
    background-image: url('/images/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 40%;
    border-radius: 0;
	min-height: fit-content;
	padding: 7rem 2rem;
}

#text {
    padding: 55px 0;
    text-align: center;
	margin: 5rem 0;
}
@font-face {
    font-family: LogoFont;
    src: url(../../../../src/Raphtalia.otf);
}

#logoLP {
    font-family: LogoFont;
    font-weight: 900;
    color: #109250;
    text-shadow:
   -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
    font-size: 100px;
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.jumbotron h2 {
    /* color: #109250; */
    padding-top: 25px;
    color: #93f5c4;
    text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
     -1px 1px 0 black,
      1px 1px 0 black;
      animation: fadein 3s;
}

.jumbotron p {
    color: black;
    padding-top: 10px;
}

@media only screen and (max-width: 500px) {
    .jumbotron {
        background-position: 50% 20%;
        background-image: url('/images/jumbotron.jpg');
    }
}
